h2.font {
    color: #ff87ca;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.font {
    color: #516BEB;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3.font {
    color: #ff87ca;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fffcdc;
}

nav {
    background-color: #84DFFF;
    position: fixed;
    top: 10px;
    width: 99%;
    height: 50px;
    line-height: 50px;
}

.navlinks {
    float: right;
    margin-top: 05px;
}

.navlinks a {
    padding: 10px;
    font-size: 20px;
    color: #516BEB;
    text-decoration: none;
}

.navlinks a:hover {
    text-decoration: underline;
}

table {
    border: black solid;
    text-align: center;
    width: 300%;
    padding: 10px 10px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

#designers {
    text-align: center;
    color:
}

th,
td {
    border: black solid;
}

aside {
    float: right;
}

footer {
    width: 100%;
    padding: 10px 10px;
    margin: 0 auto;
}